.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.rightest-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.rightest-button:hover {
  box-shadow: 1px 1px 1px 1px red;
}


.righter-button {
  position: absolute;
  bottom: 10px;
  right: 75px;
}

.rightest-top-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.righter-top-button {
  position: absolute;
  top: 5px;
  right: 55px;
}

.rightest-top-button:hover, .righter-top-button:hover {
  box-shadow: 1px 1px 1px 1px green;
}


.right-top-button {
  position: absolute;
  top: 5px;
  right: 100px;
}


.leftest-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}


.dashboard-card-content {
  text-align: center;
}
